output_*/*
fragmlm/weights/*
fragmlm/output/*
autogrow/*
mgltools_x86_64Linux2_1.5.6/*
pdb/*
test/*
*.smi
*.pyc
buffer*
*.gz
*.xml
mcts*
ppo*
hot*
run*
Untitled*
*.png
*.xlsx
*.iso
Overleaf Projects/*
Overleaf Projects*/*
papers_0/*
ablation_analyse/ablation_drawing_selecting/output_*/*
EvoMol-master/
0-output/*
1_output/*
2_output/*
3-output/*
4-output/*
*.pdbqt
*.sdf
*.log
*.txt
*.pdb
*.jsonl
test/*
pictures_model/*
test_model/*
test_model_0/*
test_model_1/*
test_model_*/*
我的命令.md
autogrow4.0/*
GA_gpt_rag/*

GA_gpt_rag/*







