output_*/*
fragment_GPT/weights/*
fragment_GPT/output/*
autogrow/*
mgltools_x86_64Linux2_1.5.6/*
pdb/*
test/*
*.smi
*.pyc
buffer*
*.gz
*.xml
mcts*
ppo*
hot*
run*
Untitled*
*.png
*.xlsx
*.iso
Overleaf Projects/*
Overleaf Projects*/*
papers_0/*
ablation_analyse/ablation_drawing_selecting/output_*/*
EvoMol-master/
0-output/*
1_output/*
2_output/*
3-output/*
4-output/*
*.pdbqt
*.sdf
*.log
*.txt
*.pdb
*.jsonl










